<html>

<head>
<title>OAuth 2.0 Molokotech implementation</title>
</head>

<body>
	<h1>Molokotech OAuth 2.0 Implementation</h1>
	<div>
		<img alt="" src="../src/img/oauth2.jpg">
	</div>
	<div style="width:800px">
		<p>What is this?</p>
		<p>This is an implementation of OAuth 2.0 protocol, it is a new
			project with a server side engine acting like a filter for the Client
			Apps configured to be secured. To resume, is an universal server side
			filter to secure all Molokotech Apps or other ones that wanna to be
			secured from us. There is no pages to navigate apart of this one, all
			the code is on the back side.</p>
		<p>Most popular providers of this kind of secure system are:
			Facebook, Google, Twitter, Instagram, Github, Okta and anyone else.</p>
		<p>Axel A. Berlot</p>
	</div>
</body>

</html>